body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.favors {
  overflow: auto;
  white-space: nowrap;
}

body {
  background: #9C81C9;
  height: 100%;
  font-family: arial;
  text-align: center;
}

#root .nameOnCard {
  font-family: 'Bitter', serif;
  background-color: rgb(140, 18, 151);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


  #root .ui.card {
  
  
    background-color: thistle;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
    
  }

  .pageHeader {

    font-family: 'Brush Script MT', cursive;
  }
  
#root .ui.header {
  font-family: 'Bitter', serif;
}

.nameOnCard {
  font-family: 'Bitter', serif;
  background-color: blue;
}
  
#root .nameOnCard {
  background-color: 'blue';
}

.ui.card.group {
  overflow: auto;
  white-space: nowrap;
}

#root .ui.fluid.card {
  width: 60%
}

.stappyHour {
  
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  
}